@charset "utf-8";

:root {
    --dark-navy: #06283B;
    --dark-text: #525F84;
    --light-text: #B4BFCC;
    --bg-attend: #1881CE;
    --bg-leave: #DD434E;
    --bg-break: #EECC3C;
    --bg-overtime: #54BF89;
}

.app-title {
    color: #B4BFCC;
    text-align: center;
}

.side-bar {
    background-color: var(--dark-navy) !important;
}

.menu-text-light {
    color: #B4BFCC;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu-text-dark {
    color: #525F84;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.side-bar-icon {
    color: #B4BFCC;


}

.bi {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.digital-clock {
    color: #545454;
    text-align: center;
    font-family: Roboto;
    font-size: 76px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.date-display {
    color: #545454;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.68px;
}

.btn-attend {
    width: 268px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 21px !important;
    border: 1px solid #545454 !important;
    background: #1881CE !important;
    color: #FFF !important;
    text-align: center !important;
    font-family: Roboto !important;
    font-size: 27px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

.btn-leave {
    width: 268px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 21px !important;
    border: 1px solid #545454 !important;
    background: var(--leave-button, #DC434E) !important;
    color: #FFF !important;
    text-align: center !important;
    font-family: Roboto !important;
    font-size: 27px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;

}

.btn-break,
.btn-overtime {
    color: #545454 !important;
    text-align: center !important;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;

    border-radius: 21px !important;
    border: 1px solid #545454 !important;
    background: rgba(24, 129, 206, 0.00) !important;

    width: 114px !important;
    height: 36px !important;
    flex-shrink: 0 !important;
}

.edit-btn {
    color: #4874B4;
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    border-radius: 3px;
    border: 0.5px solid #C1C1C1;
    background: #F8F8F8;

}

.attend-record {

    fill: #1881CE !important;
}


/* モーダルのデザイン */
.modal-header-no-border {
    border-bottom: none !important;
}

.modal-footer-no-border {
    border-top: none !important;

}

.modal-title-centered {
    width: 100%;
    text-align: center;
    color: #545454;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.btn-modal-attend {
    border-radius: 4px !important;
    background: #10649A !important;
    width: 191px !important;
    height: 64px !important;
    flex-shrink: 0 !important;
    color: #FFF !important;
    text-align: center !important;
    font-family: Roboto !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

.modal-label {
    color: #545454;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#work_comment {
    height: 30vh;
}

#work_description {
    height: 10vh;
}

.side-menu-link {
    text-decoration: none;
}

.btn-edit {
    border-radius: 3px !important;
    border: 0.5px solid #C1C1C1 !important;
    background: #F8F8F8 !important;
    color: #4874B4 !important;
    font-family: Roboto !important;
    font-size: 9px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

.btn-create {
    border-radius: 4px !important;
    background: #D0A307 !important;
    color: white !important;

}

.btn-store {

    border-radius: 4px !important;
    background: #10649A !important;
    color: white !important;

}

.login-title {
    color: #5B5B5B !important;
    text-align: center !important;
    font-family: Inter !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}
/* 
.app-title {
    color: #06283B !important;
    font-family: Montserrat !important;
    font-size: 84px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    letter-spacing: 2.52px !important;
} */
